.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4.6rem;
  background-color: rgb(20, 20, 20);
  opacity: 1;
  animation: fade-in 0.25s;
}

.homeButton {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem 0 0 1rem;
}

.homeIcon {
  color: ghostwhite;
}

.search {
  position: absolute;
  top: 0;
  margin-top: 1rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
