.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10px;
}
