.body {
  top: 0;
  width: 70vw;
  max-width: 500px;
}

.bodyWithResults {
  width: 70vw;
  max-width: 500px;
  margin-top: 60px;
}

.title {
  text-align: center;
  color: whitesmoke;
  font-size: 2.49rem;
  font-weight: bold;
  margin-top: 8vh;
  margin-bottom: 5vh;
}
