.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70vw;
  max-width: 500px;
  margin-top: min(15vh);
}

.title {
  color: whitesmoke;
  font-size: 2.49rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.search {
  animation: fade-in 3s;

  @keyframes fade-in {
    0% {
      opacity: 0.1;
    }
    20% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
