.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  animation: slide 1s ease-out;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10px;
}

@keyframes slide {
  0% {
    transform: translateY(15%);
  }
  20% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
