.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-width: 75vw;

  &.navbar {
    max-width: 60vw;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid whitesmoke;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;

  &.navbar {
    background-color: #ffffff;
  }

  &:focus-within {
    box-shadow: 0 0 10px #9ecaed;
  }
}

.searchIcon {
  width: 1rem;
  height: 1rem;
  padding-right: 1.5rem;
  padding-left: 1rem;

  &.navbar {
    color: rgba(0, 0, 0, 0.4);
  }
}

.clearIcon {
  margin-right: 0.5rem;
  padding-right: 0.8rem;
  color: whitesmoke;
  font-size: 1.3rem;
  cursor: pointer;

  &.navbar {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }
}

.listbox {
  position: relative;
  margin-top: 1px;
  margin-right: 25px;
  margin-left: 25px;
}
