.container {
  /* position: static; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.75em 0em;
  animation: slide 1s ease-out;
}

@keyframes slide {
  0% {
    transform: translateY(20%);
  }

  20% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}
